# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Flutter
.dart_tool/
.buildlog
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache
.pub/
build/

# IDE files
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db
